streamlit==1.25.0
pip install Pillow --prefer-binary
pip install --upgrade pip setuptools wheel
img2pdf==0.4.4
pdfkit==1.0.0
python-docx==0.8.11
nbformat==5.9.1
nbconvert==7.8.0
docx2pdf==0.1.8

