pip install --upgrade pip
pip install streamlit 
pip install Pillow 
pip install img2pdf
pip install pdfkit 
pip install docx 
pip install python-docx 
pip install nbformat 
pip install nbconvert
pip install docx2pdf 
pip install tempfile

